

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus ,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus ,
.carousel-indicators .active ,
.option-box .color-option ul li ,
.option-box .gear-box
{

	background-color: #0077c0
}





.option-box .color-option {
	

	border: 5px solid #0077c0;

}

.test span ,.footer h3{

	color: #0077c0
}


.test .carousel-indicators li.active {
	border: 2px solid #0077c0;

}

